
@{
    ViewBag.Title = "Cicek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-offset-5"><h1>ÇİCEK</h1></div>

<div class="item active">
    <div class="col-sm-8">
        <h2>Gül</h2>
        <p>Gül, fiziksel görünüşüyle insanı hayran eden bir güzelliğe sahiptir. ince bir gövde, ince ve yeşil yapraklar ve güzellik sunan sihirli bir eli andıran çanak yapraklar bu bitkinin albenisini arttırıyor. taç yapraklara güneş ışığı altında dikkatli bir şekilde bakmışsanız her açı değişikliğinde kadifemsi kırmızı rengin değişik bir güzellikle size gülümsediğini görürsünüz. hele de yağmurdan sonra yağlı ve parlak yapraklar üzerinde kalmış olan bir iki su damla su ayrı bir güzellik katar güle. ya o insanı kendinden geçiren tarif edilmez hoş kokuya ne demeli? güzellik duygusuna sahip bir insanın güle kayıtsız kalması mümkün olmasa gerek.</p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Cicek/Çiçek3(Gül).jpg" class="girl img-responsive" alt="" />
    </div>
    <br />
    <div class="col-sm-8">
        <h2>Papatya</h2>
        <p>Mutluluk, gülümseme,  coşku,  sevinç,  heyecan, bahar,  sevgi,  umut,  özgürlük, dostluk dünyanın en özel çiçekleridir papatyalar çoğu insan papatyaların kökleri hala topraktayken kokmadıklarını bilmez, yani papatyanın o güzel kokusu ancak kopartılıp, öldürüldükten sonra var olur. Bu yüzden ölümün en güzel kokusu demek yanlış olmaz papatyalar için</p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Cicek/Çiçek2(Papatya).jpg" class="girl img-responsive" alt="" />
    </div>
    
    <hr/>
</div>
