
@{
    ViewBag.Title = "Cikolata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-offset-5"><h1>ÇİKOLATA</h1></div>

<div class="item active">
    <div class="col-sm-8">
        <h2>Kalpli Çikolata</h2>
        <p>Kalbinizde yeri olduğunu belirtmenin en tatlı yolu. Kırmızı ve Beyaz renklerde Kalp şeklinde enfes sütlü çikolata.</p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Cikolata/Çikolata3(Kalpli Çikolata).jpg" class="girl img-responsive" alt="" />
    </div>
    <br />
    <div class="col-sm-8">
        <h2>Karışık Renkli Badem Şekerleri</h2>
        <p>Rengarenk bir kişiliğe sahip ve de çok mu neşeli? İdda ediyoruz bu badem şekerleri tam onun ruh haline uygun renklerde ve bir o kadar da tatlı.</p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Cikolata/Çikolata4(Karışık renkli badem şekerleri).jpg" class="girl img-responsive" alt="" />
    </div>
    <hr />
</div>


