
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-offset-5"><h1>HAKKIMIZDA</h1></div>

<div class="item active">
    <div class="col-sm-12">
    <p>Bizler hediye almaktan, hazırlamaktan, bu mutluluğa neden olmaktan keyif alan 3 genç girişimci, ortağız. <br />
       Hedefimiz herkese ve heryere mutluluk götürmek! </p>
    </div>
    </div>

