
@{
    ViewBag.Title = "Index";
}

<hr />
<div class="item active">
    <div class="col-sm-12">
        <p>Hediye kutusunu göndereceğiniz kişinin nelerden hoşlanacağını biliyorsunuz Aklınızda bir fikir var fakat çarşı Pazar gezip malzeme toplamaya, kutu doldurmaya vaktiniz mi yok? Biz varız! sadece birkaç tıklama ile benzeri olmayan tamamen size özel hediye kutuları hazırlayabilirsiniz.</p>
    </div>
   
</div>
<hr />

