
@{
    ViewBag.Title = "Kutu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-offset-6"><h1>KUTU</h1></div>

<div class="item active">
    <div class="col-sm-8">
        <h2>Kapli Kutu - 1</h2>
        <p>Kalp şeklinde kağıtlara yazılmış onlarca şiir yine kalp şeklinde çikolata ve şekerlerle birlikte mükemmel bir tektaş yüzüğün olduğu kırmızı kalpli kutu </p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Sekiller/kutu3.jpg" class="girl img-responsive" alt="" />
    </div>
    <br />
    <div class="col-sm-8">
        <h2>Kare Kutu - 2</h2>
        <p>Mutluluk, gülümseme,  coşku,  sevinç,  heyecan, bahar,  sevgi,  umut,  özgürlük, dostluk dünyanın en özel çiçekleridir papatyalar çoğu insan papatyaların kökleri hala topraktayken kokmadıklarını bilmez, yani papatyanın o güzel kokusu ancak kopartılıp, öldürüldükten sonra var olur. Bu yüzden ölümün en güzel kokusu demek yanlış olmaz papatyalar için</p>
    </div>
    <div class="col-lg-offset-9">
        <img style="height:250px; width:300px;" id="size" src="~/İmages/Sekiller/kutu2.jpg " class="girl img-responsive" alt="" />
    </div>
    <hr />
</div>
